{% extends 'base.html' %}

{% block content %}

    <center><h1>Статистика запросов {{ wurl }}</h1></center>
        <hr>
    <center><h2>Распределение внимания пользователей по категориям</h2></center>
          <p>{{ name }}</p>
    <center><img src={{ url1}} alt="Chart" height="420" width="600"><img src={{ url2}} alt="Chart" height="420" width="600"></center>
        <hr>
    <center><h2>Конкуренция в категориях</h2></center>
    <hr>

    <div>
    {{ table1|safe }}
    </div>

    <hr>
    <div>
    {{ table2|safe }}
    </div>

    <hr>
        <center><h2>ТОП10 Предложений по количеству просмотров</h2></center>
    <hr>
    <div>
    {{ table3|safe }}
    </div>
    <hr>
        <center><h2>ТОП10 Предложений по количеству просмотров за сегодня</h2></center>
    <hr>
    <div>
    {{ table4|safe }}
    </div>


{% endblock %}
